<div class="masthead">
  <ul class="nav nav-pills pull-right">
    <li><%= link_to 'About', about_path %></li>
    <% if user_signed_in? %>
      <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
      <% if current_user.admin?(current_user) %>
        <li><%= link_to 'Admin', rails_admin_path %></li>
      <% end %>

      <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to 'Login', new_user_session_path %></li>
    <% end %>
  </ul>
  <h3 class="muted"><%= link_to 'hwywh', root_path, class: 'no-underline' %></h3>

</div>
<hr>